
@keyframes lineUpDown {
    0% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}

.heroDiv {
    height: calc(100vh - var(--nav-height));
    margin-bottom: 5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    font-size: 5rem;
    line-height: 1.2;
}

.bottomDiv {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1.5em;
}

.seeWorkDiv {
    height: 42px;
    position: relative;
    display: flex;
    align-items: flex-end;
}

.seeWorkText {
    font-size: 1.2rem;
    margin-left: 18px;
    text-transform: uppercase;
    /* font-size: 0.8rem; */
    letter-spacing: 3px;
    cursor: pointer;
    transition: letter-spacing 0.2s ease-in-out;
}
.seeWorkText:hover {
    font-weight: 600;
    letter-spacing: 5.5px;
}

.line::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: var(--main-color);
    animation: lineUpDown 1s ease infinite;
}

.socialIcon {
    height: 24px;
    width: 24px;
    cursor: pointer;
    transition: fill 0.2s ease-in-out;
}
.socialIcon:hover {
    fill: var(--main-color);
}

.socialLink {
    margin-right: 15px;
}
.socialLink:last-child {
    margin-right: 0;
}

/* ==============
Media QUERIES= */
/* ===big screens */
@media (min-width: 1799px) {
    .title {
        font-size: 6.3rem
    }
}

@media (min-width: 2150px) {
    .title {
        font-size: 7.8rem
    }
}

@media (min-width: 2500px) {
    .title {
        font-size: 9rem
    }
}

/* ===small screens */
@media (max-width: 1100px) {
    .title {
        font-size: 4.2rem
    }
}

@media (max-width: 700px) {
    .title {
        font-size: 2rem
    }

    .seeWorkDiv {
        height: 31px;

    }
    
    .seeWorkText {
        font-size: 0.9rem;
        margin-left: 14px;
    }

    .socialIcon {
        height: 16px;
        width: 16px;

    }
    .socialLink {
        margin-right: 10px;
    }

}