:root {
  --main-color: #20c98b ;
  --secondary-color:#6e07f3;
  --nav-height: 55px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
}

h1,h2,h3,p {
  margin: 0;
}

button:disabled {
  cursor: initial;
}

.wide-container {
  width: 100%;
  padding: 0 2em;
  padding: 0 1.6em;
  margin: 0 auto;
}

.container {
  width: 80%;
  max-width: 1500px;
  margin: 0 auto;
}
.container-text-align {
  text-align: center;
}

.background-color {
  background-color: var(--secondary-color);
}

.section-title {
  font-size: 2.5rem;
  text-align: center;
  display: inline-block;
  margin-bottom: 0.5em;
}
.section-title::after {
  content: '';
  display: block;
  height: 3px;
  width: 35%;
  margin: 0 auto;
  margin-top: 0.1em;
  background-color: var(--main-color);
}

.white-color {
  color: white;
}

.emphasis {
  color: var(--main-color)
}

.btn {
  display: inline-block;
  border: none;
  outline: none;
  font-family: inherit;
  cursor: pointer;
  background-color: var(--main-color);
  color: white;
  padding: 0.55em 1.25em;
  border-radius: 23px;
}
.btn:hover,
.btn:focus {
  opacity: 0.9;
}

.btn-big {
  font-size: 1.2rem;
}

.btn-form {
  font-size: 1rem;
}

.btn-nav-contact {
  font-size: 0.8rem;
  background-color: transparent;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  transition: background-color .2s ease-in-out,color .2s ease-in-out;
}
.btn-nav-contact:hover {
  background-color: var(--main-color);
  color: white;
}